.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.cardInfo {
  text-align: center;
}
.bannerWrapper {
  position: relative;
  width: 100%;
  height: 400px;
  /* padding-bottom: 40%; */
}