.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.cardInfo {
  text-align: center;
}
.bannerWrapper {
  position: relative;
  width: 100%;
  /* padding-bottom: 40%; */
  height: 400px;
  overflow: hidden;
  border-radius: var(--chakra-radii-md);
}